* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

ul, li {
    list-style-type: none;
}

input {
    border: none;
font-weight: 400;
font-size: 18px;
line-height: 135%;
text-align: center;
/* or 24px */


/* Main/Grey */

color: #000000;

    &::placeholder {
font-weight: 400;
font-size: 18px;
line-height: 135%;
/* or 24px */


/* Main/Grey */

color: #808080;
text-align: center;
    }
}


body {
    scroll-behavior: smooth;
}